# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SOFTONE-Invoicing.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
[Bb]in/
[Oo]bj/
.vs/
.idea/
.vscode/
*.user
*.rsuser
*.suo
pg_data/
.sonarqube/
coverage.xml